@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

@*<div class="row content-box-color">
        <div class="container content-box-title" >
            <p>CYBER</p>
        </div>
    </div>*@
<script type="text/javascript"> 
    function hrefLink(sender) {
        var listTab = ["#tab1", "#tab2", "#tab3"];
        var currentAttrValue = sender.getAttribute("href");
        
        for (var i = 0; i < listTab.length; i++) { 
            if (currentAttrValue != listTab[i]) { 
                $(listTab[i]).removeClass('active');
            } else {  
                $(listTab[i]).addClass('active');
            }
        }  
    } 
</script> 

<div class="container content-box-title-line content-box-padding">
    <div class="content-box-title content-box-color">
        <p>CYBER</p> 
    </div>
</div>
<div class="container">
    <div class="col-md-5">
        <div class="content-box-content">
            <p class="text-bold"><i>Share your moments with the World!</i></p>
            <p><i>Cyber is a free and simple way to share your life and update information of others.</i></p>
            <p><i>Share your photos, a video you like, a news or a funny story...etc with just a click.</i></p>
            <p><i>Now, enjoy it!</i></p>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-6">
        <div class="tab-content">
            <div id="tab1" class="tab active">
                <div class="login-form-1">
                    <div class="logo text-center">login</div>
                    <form id="login-form" class="text-left">
                        <div class="login-form-main-message"></div>
                        <div class="main-login-form">
                            <div class="login-group">
                                <div class="form-group">
                                    <label for="lg_username" class="sr-only">Username</label>
                                    <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="lg_password" class="sr-only">Password</label>
                                    <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
                                </div>
                                <div class="form-group login-group-checkbox">
                                    <input type="checkbox" id="lg_remember" name="lg_remember">
                                    <label for="lg_remember">remember</label>
                                </div>
                            </div>
                            <button type="submit" class="login-button"><i class="glyphicon glyphicon-arrow-right" style=" font-size: 20px;"></i></button>
                        </div>
                        <div class="etc-login-form">
                            <p class="text-darklight">forgot your password? <a id="forget" href="#tab3" onclick="hrefLink(this);" class="text-nonhightlight"><b>click here</b></a>
                            <p class="text-darklight">new user? <a href="#tab2" onclick="hrefLink(this);" class="text-nonhightlight"><b>create new account</b></a></p>
                        </div>
                    </form>
                </div> @*-- end of login-form*@
            </div>

            <div id="tab2" class="tab" >
                <!-- REGISTRATION FORM -->
                <div class="text-center">
                    <div class="logo">register</div>
                    <!-- Main Form -->
                    <div class="login-form-1">
                        <form id="register-form" class="text-left">
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group">
                                    <div class="form-group">
                                        <label for="reg_username" class="sr-only">Email address</label>
                                        <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username">
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_password" class="sr-only">Password</label>
                                        <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                                        <input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
                                    </div>

                                    <div class="form-group">
                                        <label for="reg_email" class="sr-only">Email</label>
                                        <input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="reg_fullname" class="sr-only">Full Name</label>
                                        <input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="full name">
                                    </div>

                                    <div class="form-group login-group-checkbox">
                                        <input type="radio" class="" name="reg_gender" id="male" checked="checked" placeholder="username">
                                        <label for="male">male</label>

                                        <input type="radio" class="" name="reg_gender" id="female" placeholder="username">
                                        <label for="female">female</label>
                                    </div>

                                    <div class="form-group login-group-checkbox">
                                        <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                                        <label for="reg_agree">i agree with <a href="#">terms</a></label>
                                    </div>
                                </div>
                                <button type="submit" class="login-button" style=" top: 111px;">
                                    <i class="glyphicon glyphicon-arrow-right" style=" font-size: 20px;"></i>
                                </button>
                            </div>
                            <div class="etc-login-form">
                                <p class="text-darklight">already have an account? <a href="#tab1" onclick="hrefLink(this);" class="text-nonhightlight">login here</a></p>
                                <p class="text-darklight">forgot your password? <a id="forget" href="#tab3" onclick="hrefLink(this);" class="text-nonhightlight"><b>click here</b></a></p>
                            </div>
                        </form>
                    </div>
                    <!-- end:Main Form -->
                </div>
            </div>

            <div id="tab3" class="tab" >
                <!-- FORGOT PASSWORD FORM -->
                <div class="text-center">
                    <div class="logo">forgot password</div>
                    <!-- Main Form -->
                    <div class="login-form-1">
                        <form id="forgot-password-form" class="text-left">
                            <div class="etc-login-form">
                                <p class="text-darklight">When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
                            </div>
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group">
                                    <div class="form-group">
                                        <label for="fp_email" class="sr-only">Email address</label>
                                        <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
                                    </div>
                                </div>
                                <button type="submit" class="login-button" style="top:2px; font-size:20px;"><i class="glyphicon glyphicon-arrow-right"></i></button>
                            </div>
                            <div class="etc-login-form">
                                <p class="text-darklight">already have an account? <a href="#tab1" onclick="hrefLink(this);" class="text-nonhightlight">login here</a></p>
                                <p class="text-darklight">new user? <a href="#tab2" onclick="hrefLink(this);" class="text-nonhightlight">create new account</a></p>
                            </div>
                        </form>
                    </div>
                    <!-- end:Main Form -->
                </div>
            </div>
        </div> 
    </div> @*-- end of login-form-1*@ 
</div> 