
@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row">
    <div class="col-md-3 center">
        <div class="login-box">
            <a href="index.html" class="logo-name text-lg text-center">Cyber</a>
            <p class="text-center m-t-md">Enter your e-mail address below to reset your password</p>
            <form class="m-t-md">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <a href="@Url.Action("Login","Home")" class="btn btn-default btn-block m-t-md">Back</a>
            </form>
            <p class="text-center m-t-xs text-sm">2015 © Cyber team.</p>
        </div>
    </div>
</div>

