@{
    ViewBag.Title = "CYBER - World Connecting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">


</script> 
<div class="wrapper"> 
    <div class="container content-box-title-line content-box-padding">
        <div class="content-box-title content-box-color">
            <p>CYBER</p>
        </div>
    </div>
    <div class="container">
        <div class="col-md-5">
            <div class="content-box-content">
                <p class="text-bold"><i>Share your moments with the World!</i></p>
                <p><i>Cyber is a free and simple way to share your life and update information of others.</i></p>
                <p><i>Share your photos, a video you like, a news or a funny story...etc with just a click.</i></p>
                <p><i>Now, enjoy it!</i></p>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-6">
            <div class="tab-content">
                <div id="tab1" class="tab active">
                    <div class="login-form-1">
                        <div class="logo text-center">Sign In</div>
                        <form id="login-form" class="text-left">
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group"> 
                                    <div id="vlg_email" class="form-group form-control-default">
                                        <label for="lg_email">Email address</label>
                                        <input type="email" class="form-control" id="lg_email" placeholder="Enter email" onkeypress="onValidateEmail(this, 'vlg_email')">
                                    </div>
                                    <div id="vlg_password" class="form-group form-control-default">
                                        <label for="lg_password">Password</label>
                                        <input type="password" class="form-control" id="lg_password" placeholder="Enter password" onkeypress="onValidateText(this, 'vlg_password')">
                                    </div>
                                    <div class="form-group login-group-checkbox">
                                        <input type="checkbox" id="lg_remember" name="lg_remember">
                                        <label for="lg_remember">remember</label>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" class="btn btn-primary" onclick="onLogin();">Sign In <i class="fa fa-fw fa-unlock-alt"></i></a>
                                        <i id="lg_loading" class="fa fa-spinner fa-spin" style="display:none;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="etc-login-form">
                                <p class="text-darklight">forgot your password? <a id="forget" href="#tab3" onclick="hrefLink(this);" class="text-nonhightlight"><b>click here</b></a>
                                <p class="text-darklight">new user? <a href="#tab2" onclick="hrefLink(this);" class="text-nonhightlight"><b>create new account</b></a></p>
                            </div>
                        </form>
                    </div> @*-- end of login-form*@
                </div>

                <div id="tab2" class="tab">
                    <!-- REGISTRATION FORM -->
                    <div class="text-center">
                        <div class="logo">Sign Up</div>
                        <!-- Main Form -->
                        <div class="login-form-1">
                            <form id="register-form" class="text-left">
                                <div class="login-form-main-message"></div>
                                <div class="main-login-form">
                                    <div class="login-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div id="vr_firstname" class="form-group form-control-default">
                                                    <label for="r_firstname">First name</label>
                                                    <input type="email" class="form-control" id="r_firstname" placeholder="Your first name" onkeypress="onValidateText(this, 'vr_firstname')">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="vr_lastname" class="form-group form-control-default">
                                                    <label for="r_lastname">Last name</label>
                                                    <input type="email" class="form-control" id="r_lastname" placeholder="Your last name" onkeypress="onValidateText(this, 'vr_lastname')">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="vr_email" class="form-group form-control-default">
                                            <label for="r_email">Email address</label>
                                            <input type="email" class="form-control" id="r_email" placeholder="Enter email" onkeypress="onValidateEmail(this, 'vr_email')">
                                        </div>
                                        <div id="vr_password" class="form-group form-control-default">
                                            <label for="r_password">Password</label>
                                            <input type="password" class="form-control" id="r_password" placeholder="Password" onkeypress="onValidateText(this, 'vr_password')">
                                        </div>
                                        <div id="vr_agree" class="form-group login-group-checkbox">
                                            <input type="checkbox" class="" id="r_agree" name="r_agree">
                                            <label for="r_agree">i agree with <a href="#">terms</a></label> <label id="r_agree_msg"></label> 
                                        </div>

                                        <div class="form-group">
                                            <a href="#" class="btn btn-primary" onclick="onRegistration();">Sign Up <i class="fa fa-sign-in"></i></a>
                                            <i id="r_loading" class="fa fa-spinner fa-spin" style="display:none;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="etc-login-form">
                                    <p class="text-darklight">already have an account? <a href="#tab1" onclick="hrefLink(this);" class="text-nonhightlight">login here</a></p>
                                    <p class="text-darklight">forgot your password? <a id="forget" href="#tab3" onclick="hrefLink(this);" class="text-nonhightlight"><b>click here</b></a></p>
                                </div>
                            </form>
                        </div>
                        <!-- end:Main Form -->
                    </div>
                </div>

                <div id="tab3" class="tab">
                    <!-- FORGOT PASSWORD FORM -->
                    <div class="login-form-1">
                        <div class="logo text-center">Forgot Password</div>
                        <form id="forgotpassword-form" class="text-left">
                            <div class="login-form-main-message"></div>
                            <div class="main-login-form">
                                <div class="login-group">
                                    <div class="form-group">
                                        <label>You will recieve info form our mail...</label>
                                    </div>
                                    <div id="vfg_email" class="form-group form-control-default">
                                        <label for="fg_email">Email address</label>
                                        <input type="email" class="form-control" id="fg_email" placeholder="Enter email" onkeypress="onValidateEmail(this, 'vfg_email')">
                                    </div>
                                    <div class="form-group">
                                        <a href="#" class="btn btn-primary" onclick="onForgotPassword();">Submit <i class="fa fa-send"></i></a>
                                        <i id="fg_loading" class="fa fa-spinner fa-spin" style="display:none;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="etc-login-form">
                                <p class="text-darklight">forgot your password? <a id="forget" href="#tab3" onclick="hrefLink(this);" class="text-nonhightlight"><b>click here</b></a>
                                <p class="text-darklight">new user? <a href="#tab2" onclick="hrefLink(this);" class="text-nonhightlight"><b>create new account</b></a></p>
                            </div>
                        </form>
                    </div> @*-- end of login-form*@
                </div>
            </div>
        </div> @*-- end of login-form-1*@



        <footer class="footer">
            <div class="bottom-nav">
                <ul>
                    <li>
                        <a>Giới Thiệu</a>
                    </li>
                    <li>
                        <a>Trợ Giúp</a>
                    </li>
                    <li>
                        <a>Điều Khoản</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</div>
