
@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
 @*<div class="st-content-inner">
    <div class="st-container-fluid">
        <div class="cover profile">
            <div class="wrapper" style="margin-bottom:0">
                <div class="image">
                    <img src="~/Content/Images/timelime.jpg" alt="people">
                </div>
            </div>
            <div class="cover-info">
                <div class="avatar">
                    <img src="~/Content/Images/avt.jpg" alt="people">
                </div>
                <div class="name"><a href="#">An Phạm</a></div>
                <ul class="cover-nav">

                    <li class="active"><a href="index.html"><i class="fa fa-life-ring"></i> Timeline</a></li>
                    <li><a href="profile.html"><i class="fa fa-user"></i> About</a></li>
                    <li><a href="users.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>*@

