<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer show-sidebar sidebar-l2" lang="en">
<head>
    <title></title>

    @* META *@
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @* SCRIPT *@
    @*<script type="text/javascript" charset="UTF-8" src="~/Content/Script/common.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/Script/map.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/Script/util.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/Script/onion.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/Script/stats.js"></script>
        <script type="text/javascript" charset="UTF-8" src="~/Content/Script/controls.js"></script>*@
    @*  <script src="~/Content/Script/markerclusterer.min.js"></script>
        <script src="~/Content/Script/infobox_packed.js"></script>
        <script src="~/Content/Script/jquery.ui.map.rdfa.js"></script>
        <script src="~/Content/Script/jquery.ui.map.overlays.js"></script>
        <script src="~/Content/Script/jquery.ui.map.microformat.js"></script>
        <script src="~/Content/Script/jquery.ui.map.microdata.js"></script>
        <script src="~/Content/Script/jquery.ui.map.services.js"></script>
        <script src="~/Content/Script/jquery.ui.map.extensions.js"></script>
        <script src="~/Content/Script/jquery.ui.map.js"></script>*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/Script/jquery-1.10.2.js"></script>
    <script src="~/Content/Script/script.js"></script>
    <script src="~/Content/Script/jquery.validate.js"></script>
    <script src="~/Content/Script/main.js"></script>
    @*<script src="~/Content/Script/jquery.nicescroll.js"></script>*@
    @*<script src="~/Content/Script/app.js"></script>
        <script src="~/Content/Script/all.js"></script>*@
    @* CSS *@
    @*<link href="~/Content/Style/all.css" rel="stylesheet" />
        <link href="~/Content/Style/app.css" rel="stylesheet" />*@
    <link href="~/Content/Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style/style.css" rel="stylesheet" />
    <link href="~/Content/Style/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background-image: none;
            background-color: #efefef;
            font-size: 18px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            padding-top: 56px;
            overflow-x:hidden;
        }

        .box{
            overflow:scroll;
            background:#ffd800;
            height:100%;
        }
    </style>
    <script>
        $(document).ready(function () {
            var h = window.innerHeight - 56;
            var isOpenRightMenu = false;
            var isOpenLeftMenu = false;

            //$("#right-sb").css("height", h + "px");
            //$("#left-sb").css("height", h + "px");

            InitializeMenuJS();

            //$(".split-vertical-body").niceScroll({ cursorcolor: "#00F" });
        });

    </script>
</head>
<body>
    <nav class="navbar navbar-white navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-md-offset-1 col-md-10">
                <div style="padding-left:20px;padding-right:20px;">
                    <div class="pull-left">
                        <div class="nav-header">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a id="bt-left-sb" href="#">CYBER</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <ul id="MainMenu" class="nav navbar-nav">
                            <li class="user-profile">
                                <a id="bt-small-profile" href="#" style="padding-bottom:14px">
                                    <img src="~/Content/Images/avt1.jpg" class="small-circle-img" />
                                    <span class="small-name">An Phạm</span>
                                    <span class="caret"></span>
                                </a>
                                <ul id="ul-small-profile" class="dropdown-menu" role="menu">
                                    <li><a href="#"><i class="fa fa-anchor">&nbsp;&nbsp;Timeline</i></a></li>
                                    <li><a href="#"><i class="fa fa-power-off">&nbsp;&nbsp;Logout</i></a></li>
                                </ul>
                            </li>
                            <li>
                                <a id="bt-friend-notify" href="#">
                                    @*<label>12</label>*@
                                    <i class="fa fa-users"></i>
                                </a>
                                <ul id="ul-friend-notify" class="dropdown-menu notify">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object thumb" src="~/Content/Images/avt1.jpg" alt="people">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-right">
                                                <span class="label label-default">5 min</span>
                                            </div>
                                            <h5 class="media-heading">Adrian D.</h5>

                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object thumb" src="~/Content/Images/avt1.jpg" alt="people">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="pull-right">
                                                <span class="label label-default">2 days</span>
                                            </div>
                                            <h5 class="media-heading">Jane B.</h5>
                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a id="bt-notification" href="#">
                                    @*<label>3</label>*@
                                    <i class="fa fa-bell"></i>
                                </a>
                                <ul id="ul-notification" class="dropdown-menu notify">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object thumb" src="~/Content/Images/avt1.jpg" alt="people">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="pull-right">
                                                <span class="label label-default">5 min</span>
                                            </div>
                                            <h5 class="media-heading">Adrian D.</h5>

                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object thumb" src="~/Content/Images/avt1.jpg" alt="people">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div class="pull-right">
                                                <span class="label label-default">2 days</span>
                                            </div>
                                            <h5 class="media-heading">Jane B.</h5>
                                            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a id="bt-right-sb" href="#">
                                    @*<label>5</label>*@
                                    <i class="fa fa-comments"></i>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="right-sb" class="side-bar side-bar-right">
        <div class="split-vertical">
            <div class="chat-search">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <ul class="chat-filter">
                <li><a class="active" href="#">All</a></li>
                <li><a href="#">Online</a></li>
                <li><a href="#">Offline</a></li>
            </ul>
            <div class="split-vertical-body">
                <ul class="chat-contacts">
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div> 
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>

                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div> 
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="online" data-user-id="1">
                        <a href="#">
                            <div class="media">
                                <div class="pull-left">
                                    <span class="status"></span>
                                    <img src="~/Content/Images/avt1.jpg" width="40" class="img-circle">
                                </div>
                                <div class="media-body">
                                    <div class="contact-name">Jonathan S.</div>
                                    <small>"Free Today"</small>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     
    <div class="chat-window-container">
        <div class="panel panel-default" data-user-id="3" id="chat-0002" style="display: block;">
            <div class="panel-heading" data-toggle="chat-collapse">
                <a href="#" class="close"><i class="fa fa-times"></i></a>
                <a href="#"> 
                    <span class="contact-name">Adrian D.</span>
                </a>
            </div>
            <div class="panel-body display-none" id="chat-bill">
                <div class="media friend">
                    <div class="media-left">
                        <img src="~/Content/Images/avt.jpg" width="25" class="img-circle" alt="people">
                    </div>
                    <div class="media-body">
                        <span class="message">Feeling Groovy asd asd asd sadasdasdasdas?</span>
                    </div>
                    <div class="media-body-time">1 hour ago</div>
                </div>

                <div class="media owner">
                    <div class="media-right pull-right">
                        <img src="~/Content/Images/avt1.jpg" width="25" class="img-circle" alt="people">
                    </div>
                    <div class="media-body">
                        <span class="message">Feeling Groovy? asd as as das dasd as das dasd asd</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="media friend">
                    <div class="media-left">
                        <img src="~/Content/Images/avt.jpg" width="25" class="img-circle" alt="people">
                    </div>
                    <div class="media-body">
                        <span class="message">Feeling Groovy asd asd asd sadasdasdasdas?</span>
                    </div>
                    <div class="media-body-time">1 hour ago</div>
                </div>

                <div class="media owner">
                    <div class="media-right pull-right">
                        <img src="~/Content/Images/avt1.jpg" width="25" class="img-circle" alt="people">
                    </div>
                    <div class="media-body">
                        <span class="message">Feeling Groovy? asd as as das dasd as das dasd asd</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <input type="text" class="form-control display-none" placeholder="Type message...">
        </div>
    </div>

    <div id="left-sb" class="side-bar side-bar-left">
        sadsa
    </div>
    @RenderBody()
</body>
</html>
