<!DOCTYPE html> 
<html class="st-layout ls-top-navbar ls-bottom-footer sidebar-l2 show-sidebar st-effect-l2" lang="en">
<head>
    <title></title> 

    @* META *@
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @* SCRIPT *@
    @*<script type="text/javascript" charset="UTF-8" src="~/Content/Script/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Script/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Script/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Script/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Script/stats.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/Content/Script/controls.js"></script>
    <script src="~/Content/Script/markerclusterer.min.js"></script>
    <script src="~/Content/Script/infobox_packed.js"></script>
    <script src="~/Content/Script/jquery.ui.map.rdfa.js"></script>
    <script src="~/Content/Script/jquery.ui.map.overlays.js"></script>
    <script src="~/Content/Script/jquery.ui.map.microformat.js"></script>
    <script src="~/Content/Script/jquery.ui.map.microdata.js"></script>
    <script src="~/Content/Script/jquery.ui.map.services.js"></script>
    <script src="~/Content/Script/jquery.ui.map.extensions.js"></script>
    <script src="~/Content/Script/jquery.ui.map.js"></script>*@ 
    <script src="~/Content/Script/jquery-1.10.2.js"></script>
    <script src="~/Content/Script/script.js"></script>
    <script src="~/Content/Script/jquery.validate.js"></script>
    @* CSS *@
    <link href="~/Content/Style/all.css" rel="stylesheet" />
    <link href="~/Content/Style/app.css" rel="stylesheet" />
    <link href="~/Content/Style/style.css" rel="stylesheet" /> 
    <link href="~/Content/Style/font-awesome.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
