@using Message = WC.Constants.Message
@model List<WC.Data.Post>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-inner" style="min-height: 768px !important">
    <div id="main-wrapper">
        <div class="row">
            @if (Model.Any())
            {
                <div class="col-md-2"></div>
                <div class="col-md-7 m-t-lg">
                    <div class="profile-timeline">
                        <ul class="list-unstyled" id="timeline-posts">
                            @{
                                Html.RenderAction("PostListPartial", "Post", new {Model});
                            }
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12 text-center">
                    <div class="panel panel-white">
                        <div class="panel-body" style="min-height: 600px ">
                            <h1>Sorry, this page isn't available</h1>

                            <h3>The link you followed may be broken, or the page may have been removed.</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="page-footer">
        <p class="no-s">2015 © Cyber</p>
    </div>
</div>
