@using WC.Data
﻿@model Post
@{
    var db = new CyberEntities();
}

<div class="dropdown pull-left change-share-with">
    <span id="post-visible-type-@Model.PostID" data-visible-type="@Model.VisibleType" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-@Model.VisibleType"></span> <span class="caret"></span>
    </span>
    <ul class="dropdown-menu dropdown-visibility remove-content pull-left">
        @foreach (var type in db.Visible_Type)
        {
            <li><a class="post-visible-type" data-visible-type="@type.VisibleTypeID" data-id="@Model.PostID"><span class="fa fa-@type.VisibleTypeID"></span> @type.VisibleTypeName</a></li>
        }
    </ul>
</div>
