<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>

    <!-- Title -->
    <title>Sign Up</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">

    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/pace-theme-flash.css" rel="stylesheet">
    <link href="~/Content/Style/uniform.default.min.css" rel="stylesheet">
    <link href="~/Content/Style/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/menu_cornerbox.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/waves.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/switchery.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/style.css" rel="stylesheet" type="text/css">

    <!-- Theme Styles -->
    <link href="~/Content/Style/modern.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/green.css" class="theme-color" rel="stylesheet" type="text/css">
    <link href="~/Content/Style/custom.css" rel="stylesheet" type="text/css">
    <!-- Javascripts -->
    <script src="~/Content/Script/jquery-2.1.4.min.js"></script>
    <script src="~/Content/Script/jquery-ui.min.js"></script>
    <script src="~/Content/Script/pace.min.js"></script>
    <script src="~/Content/Script/jquery.blockui.js"></script>
    <script src="~/Content/Script/bootstrap.min.js"></script>
    <script src="~/Content/Script/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Script/switchery.min.js"></script>
    <script src="~/Content/Script/jquery.uniform.min.js"></script>
    <script src="~/Content/Script/classie.js"></script>
    <script src="~/Content/Script/waves.min.js"></script>
    <script src="~/Content/Script/snap.svg-min.js"></script> 

</head>
<body class="page-login">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <main class="page-content">
        <div class="page-inner" style="min-height:nullpx !important">
            <div id="main-wrapper">
                @RenderBody() 
            </div><!-- Main Wrapper -->
        </div><!-- Page Inner -->
    </main><!-- Page Content -->


</body>
</html>