@model WC.Models.RegisterViewModel
@{
    var daySource = new Dictionary<int, string> ();
    
    for (var i = 1; i <= 31; i++)
    {
        daySource.Add(i, i.ToString());    
    }

    var monthSource = new Dictionary<int, string>
    {
        {1, "Jan"},
        {2, "Feb"},
        {3, "Mar"},
        {4, "Apr"},
        {5, "May"},
        {6, "Jun"},
        {7, "Jul"},
        {8, "Aug"},
        {9, "Sep"},
        {10, "Oct"},
        {11, "Nov"},
        {12, "Dec"}
    };

    var yearSource = new Dictionary<int, string>();

    for (var i = DateTime.UtcNow.Year; i >= DateTime.UtcNow.Year - 100; i--)
    {
        yearSource.Add(i, i.ToString());
    }
}
<style>
    .date-control {
        width: 32%;
        height: 34px;
        padding: 6px 12px;
        display: inherit;
        font-size: 13px;
    }
</style>

<span>
    @Html.DropDownListFor(model => model.Month, new SelectList(monthSource, "Key", "Value"), "Month", new { @class = "form-control date-control", required = "", tabindex = "7" })
    
    @Html.DropDownListFor(model => model.Day, new SelectList(daySource, "Key", "Value"), "Day", new { @class = "form-control date-control", required = "", tabindex = "8" })
    
    @Html.DropDownListFor(model => model.Year, new SelectList(yearSource, "Key", "Value"), "Year", new { @class = "form-control date-control", required = "", tabindex = "9" })
</span>
