
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Style/fullcalendar.min.css" rel="stylesheet" type="text/css">
<script src="~/Content/Script/moment.min.js"></script> 
<script src="~/Content/Script/fullcalendar.min.js"></script> 

<script type="text/javascript">
    $(document).ready(function () {

        var drag = function () {
            $('.calendar-event').each(function () {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 1111999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });
        };

        var removeEvent = function () {
            $('.remove-calendar-event').click(function () {
                $(this).closest('.calendar-event').fadeOut();
                return false;
            });
        };

        $(".add-event").keypress(function (e) {
            if ((e.which == 13) && (!$(this).val().length == 0)) {
                $('<div class="calendar-event"><p>' + $(this).val() + '</p><a href="javascript:void(0);" class="remove-calendar-event"><i class="fa fa-remove"></i></a></div>').insertBefore(".add-event");
                $(this).val('');
            } else if (e.which == 13) {
                alert('Please enter event name');
            }
            drag();
            removeEvent();
        });


        drag();
        removeEvent();

        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();

        $('#calendar').fullCalendar({

            header: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar
            //drop: function(date) {
            //    // retrieve the dropped element's stored Event Object
            //    var originalEventObject = $(this).data('event');

            //    alert(originalEventObject.title + "Dropped on " + date.format());
            //    // we need to copy it, so that multiple events don't have a reference to the same object
            //    var copiedEventObject = $.extend({}, originalEventObject);

            //    // assign it the date that was reported
            //    copiedEventObject.start = date;


            //},
            //after render event on calendar, call this
            eventReceive: function(event) {
                alert(event.title + " " + event.start.format());
            },
            //
            eventDrop: function (event, delta, revertFunc) {
                alert(event.title + " dropped on " + event.start.format());
            },
            eventLimit: true, // allow "more" link when too many events
            events: [				
				{
				    title: 'Dinner',
				    start: new Date(year, month, day + 13)
				},
				{
				    title: 'Birthday Party',
				    start: new Date(year, month, day + 15)
				},
				{
				    title: 'Click for Google',
				    url: 'http://google.com/',
				    start: new Date(year, month, day + 18)
				}
            ]
        });

    });
</script>

<div class="page-inner" style="min-height:768px !important">
    @*<div class="page-title">
        <h3>Calendar</h3>
        <div class="page-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Extra</a></li>
                <li class="active">Calendar</li>
            </ol>
        </div>
    </div>*@
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h3 class="panel-title">Events</h3>
                    </div>
                    <div class="panel-body">
                        <div class="events">
                        </div>
                        <input class="form-control add-event" type="text" placeholder="Add Event">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
    <div class="page-footer">
        <p class="no-s">2015 © Cyber.</p>
    </div>
</div>

